<div class="container">

  <div class="team">
    <ul class="list-inline text-center">
      <h2>Our team</h2>
      <% data.team.each do |member, info| %>
        <li>
          <h3><%= info.name.capitalize %></h3>
          <%= image_tag info.picture, class: "avatar-extra-large" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="text-center padded" style="font-size: 30px">
    <a href="#"><i class="fa fa-envelope"></i>contact@airbnb.com</a>
  </div>
</div>
